[submodule "cpp00"]
	path = cpp00
	url = git@github.com:Redadaghouj/42-CPP00_1337
	branch = main
[submodule "cpp01"]
	path = cpp01
	url = git@github.com:Redadaghouj/42-CPP01_1337
	branch = main
[submodule "cpp02"]
	path = cpp02
	url = git@github.com:Redadaghouj/42-CPP02_1337
	branch = main
[submodule "cpp03"]
	path = cpp03
	url = git@github.com:Redadaghouj/42-CPP03_1337
	branch = main
[submodule "cpp04"]
	path = cpp04
	url = git@github.com:Redadaghouj/42-CPP04_1337
	branch = main
[submodule "cpp05"]
	path = cpp05
	url = git@github.com:Redadaghouj/42-CPP05_1337
	branch = main
[submodule "cpp06"]
	path = cpp06
	url = git@github.com:Redadaghouj/42-CPP06_1337
	branch = main
[submodule "cpp07"]
	path = cpp07
	url = git@github.com:Redadaghouj/42-CPP07_1337
	branch = main
[submodule "cpp08"]
	path = cpp08
	url = git@github.com:Redadaghouj/42-CPP08_1337
	branch = main
[submodule "cpp09"]
	path = cpp09
	url = git@github.com:Redadaghouj/42-CPP09_1337
	branch = main
